<!DOCTYPE html>
<html lang="en">
<header>
    <%- include('partials/header') %>
</header>
<body>
<h1>Welcome to our Course App</h1>
<img src="https://images2.minutemediacdn.com/image/upload/c_fit,f_auto,fl_lossy,q_auto,w_728/v1555999902/shape/mentalfloss/construction_8.gif?itok=i0AHeyO3" alt="WIP">

<footer>
    <%- include('partials/footer') %>
</footer>
  
</body>
</html>